$night-bg: #fff;
$day-bg: #171C28;
$night-btn: #171C28;
$day-btn: #fff;

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

a {
  color: #0b8ecb;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px dotted #0b8ecb;
  }

  &:hover {
    &:after {
      display: none;
    }
  }

  &.active {
    color: #333;

    &:after {
      display: none;
    }
  }
}

.method {
  background-color: #999;
}

.method-post {
  background-color: #44b444;
}

.method-get, .method-options {
  background-color: #339dfd;
}

.method-put, .method-path {
  background-color: #d28f03;
}

.method-delete {
  background-color: #e03d21;
}

.cube {
  display: inline;
  padding: 1px 3px;
  background-color: #e2e2e2;
  height: auto;
  font-size: 13px;
  color: #333;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 3px;
  min-width: 20px;

  &.color-success {
    color: #fff;
    background-color: #44b444cc;
  }

  &.color-warning {
    color: #fff;
    background-color: #d28f03cc;
  }

  &.color-error {
    color: #fff;
    background-color: #e03d21cc;
  }
}

.wrapper {
  height: 100%;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: row;
  transition: background .4s ease;
  background: $night-bg;

  &.day {
    background: $day-bg;
  }

  .panel {
    width: 260px;
    padding-top: 10px;

    .left-menu {
      flex: 1;
      list-style: none;
      padding: 20px;
      padding-top: 0;
      margin: 0;

      > .item {
        padding: 8px 10px;

        a {
          padding: 2px 0;
          font-size: 22px;
        }

        &.item-info {
          .generation {
            font-size: 14px;
            color: #888;
          }
        }

        .action-list {
          .item {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
              margin-right: 5px;
              color: #666;
              font-size: 12px;
            }

            .name {
              font-size: 14px;

              &:after {
                bottom: 3px;
              }
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px;

    .head-menu {
      display: flex;
      height: 70px;
      flex-direction: row;
      margin-right: 30px;
      align-items: center;

      .api-group {

      }

      .api-version {

      }

      .search {
        flex: 1;
      }

      .dn {
        width: 70px;
        height: 70px;
        position: relative;
        top: 20px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: transform .3s cubic-bezier(.75, .62, .4, 1.33);

        &.night {
          transform: rotate(180deg);
        }


        .day, .night {
          flex: 1;
          display: flex;
          align-items: flex-start;
          justify-content: center;
        }

        .day {
          &:after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #333;
          }
        }

        .night {
          transform: rotate(180deg);

          &:after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #fff;
          }
        }
      }
    }

    .page {
      flex: 1;
      margin: 0px 30px 30px 0px;
      border-radius: 5px;
      box-shadow: 0 0 20px #00000033;
      flex-direction: column;
      background: #fff;
      z-index: 10;

      h1 {
        font-weight: 400;
        font-size: 30px;
        margin: 15px 30px;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .icon {
          margin: 0 10px;
          color: #999;
          font-size: 22px;
        }

        a {
          &:after {
            bottom: 5px;
          }
        }
      }

      h2 {
        font-weight: 400;
        font-size: 26px;
        margin: 15px 30px;
      }

      hr {
        background-color: red;
        border: none;
        border-top: 1px solid #f0f0f0;
      }

      .quote {
        margin: 0 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(120, 177, 253, 0.15);

        code {
          padding: 2px 4px 1px;
          background-color: #ffffffcc;
          border: 1px solid #00000033;
          border-radius: 3px;
        }

        > :last-child {
          margin: 0;
        }

        ul {
          margin-left: 0;
          padding-left: 20px;
        }

      }

      .list-key-value {
        margin: 20px 30px;
        font-size: 16px;

        .row {
          display: flex;
          flex-direction: row;
          flex: 1;
          border-top: 1px solid #f0f0f0;
          padding-top: 3px;
          margin-top: 3px;
          align-items: baseline;

          &:first-child {
            padding-top: 0;
            margin-top: 0;
            border: none;
          }

          .key {
            color: #666;
            width: 200px;
            margin-right: 10px;
          }

          .value {
            flex: 1;
            color: #333;
            font-weight: 500;

            &.value-var {
              .queries {
                margin-top: 5px;
                font-weight: 300;
                font-size: 14px;

                .item {
                  font-weight: 400;
                  flex-direction: row;

                  .icon {
                    color: #666;
                    font-size: 13px;
                  }

                  .text {
                    margin-left: 5px;
                  }
                }
              }

              .input {
                display: flex;
                align-items: center;
                flex-direction: row;

                .remove {
                  padding-left: 10px;
                  font-size: 20px;
                  color: #e03d21;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .controller-info {
        .quote {
          display: block;
          margin-bottom: 20px;
        }
      }

      .controller-action {
        opacity: .9;

        .item {
          padding: 5px 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #333;

          &:after {
            display: none;
          }

          &:hover {
            background-color: #fafad5;

            .name {
              &:after {
                display: none;
              }
            }
          }

          .name {
            font-size: 18px;
            margin-right: 10px;
            color: #0b8ecb;
            position: relative;

            &:after {
              position: absolute;
              content: '';
              bottom: 2px;
              left: 0;
              right: 0;
              height: 1px;
              border-bottom: 1px dotted #0b8ecb;
            }
          }

          .method {
            padding: 3px 6px;
            border-radius: 5px;
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 1px 1px #00000066;
            margin-right: 5px;
          }

          .auth {
            font-size: 16px;
            margin-right: 5px;
            display: flex;

            &.auth-false {
              color: #999;
            }

            &.auth-true {
              color: #e33911;
            }
          }

          .url {
            font-size: 18px;
            font-weight: 300;
          }
        }
      }

      .request-info {
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;

        .method {
          margin-left: -30px;
          font-size: 16px;
          padding: 4px 10px 4px 30px;
          border-radius: 5px;
          text-transform: uppercase;
          color: #ffffff;
          text-shadow: 1px 1px #00000066;
          margin-right: 5px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 30px;
            background: linear-gradient(to right, #00000011, #00000000);
          }
        }

        .url {
          flex: 1;
          margin: 0 10px;

          input {
            font-size: 16px;
          }

          .auth-false {
            .anticon {
              color: #999;
            }
          }

          .auth-true {
            .anticon {
              color: #e33911;
            }
          }

          .auth-input {
            margin-top: 4px;
          }
        }

        .add-base {
          cursor: pointer;

          &:hover {
            span {
              color: #333;
            }
          }

          span {
            font-size: 14px;
            margin-left: 5px;
            color: #666;
          }
        }
      }

      .request {
        padding: 0px 30px;
        display: flex;
        flex: 1;

        .ant-tabs {
          width: 100%;
        }

        .ant-tabs-content {
          flex: 1;
          height: 100%;

          .ant-tabs-tabpane {
            flex: 1;
            display: flex;
          }
        }

        .tabs {
          .ant-tabs-tab-btn {
            transition: none;
          }

          .ant-tabs-nav {
            margin-bottom: 0px;
          }

          .response-tab-header {
            .cube {
              margin-left: 10px;
              font-size: 14px;
              padding: 3px;
            }
          }
        }

        .action-request-tab {
          display: flex;
          flex-direction: column;
          flex: 1;
          overflow: hidden;
          margin-bottom: 30px;

          .request-auth {
            margin: 10px 0;
            flex-direction: row;
            display: flex;
            align-items: center;

            .title {
              font-weight: 400;
              font-size: 16px;
              width: 150px;
              text-align: right;
            }

            .input {
              flex: 1;
              margin: 0 15px;
            }
          }

          .request-param {
            margin: 10px 0;

            .row {
              flex-direction: row;
              display: flex;
              align-items: center;

              .title {
                width: 150px;
                font-size: 16px;
                font-weight: 500;
                text-align: right;
              }

              .input {
                flex: 1;
                margin: 0 15px;
              }
            }
          }

          .request-table-wrapper {
            flex: 1;
            position: relative;

            .request-table {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;

              .ant-table-cell {
                vertical-align: 0px;
              }

              .id {
                display: inline-block;
                padding: 0px 5px 1px;
                background-color: #e2e2e2;
                border-radius: 3px;
                font-weight: 500;
              }

              .type {
              }

              .name {
                font-weight: 500;
              }

              .description {
                .validation {
                  span {
                    display: inline-block;
                    padding: 0px 3px;
                    background-color: #f2f2f2;
                    color: #666;
                    margin-right: 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 2px;
                  }
                }
              }

              .form {
                text-align: right;

                .add-array {
                  color: #44b444;
                  cursor: pointer;
                  margin-right: -2px;
                }

                .remove-array {
                  color: #e33911;
                  cursor: pointer;
                  margin-right: -2px;
                }

                .ant-input-affix-wrapper {
                  margin-bottom: 4px;

                  &:last-child {
                    margin-bottom: 0px;
                  }
                }

                .add-object {
                  color: #44b444;
                  cursor: pointer;
                  margin-right: -2px;
                }
              }
            }
          }
        }

        .request-export {
          margin-top: 20px;
          position: relative;
          flex: 1;

          .request-tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .ant-radio-button-wrapper {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;

              &.ant-radio-button-wrapper-checked {
                .cube {
                  background-color: #fff;
                }
              }
            }
          }

          pre {
            flex: 1;
            position: absolute;
            top: 32px;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: -1px 0 0;

            code {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #fcfcfc;
              border: 1px solid #6070ff;
            }
          }
        }

        .request-response {
          margin-top: 20px;
          position: relative;
          display: flex;
          flex: 1;
          flex-direction: row;
          align-items: flex-start;

          .request-data {
            flex: 1;
            height: 100%;
            position: relative;
            margin-right: 20px;

            .request-tabs {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              .ant-radio-button-wrapper {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                align-items: center;

                &.ant-radio-button-wrapper-checked {
                  .cube {
                    background-color: #fff;
                  }
                }
              }
            }

            pre {
              flex: 1;
              position: absolute;
              top: 32px;
              bottom: 30px;
              left: 0;
              right: 0;
              margin: -1px 0 0;

              code {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #fcfcfc;
                border: 1px solid #6070ff;
              }
            }
          }

          .response-info {
            width: 500px;

            .list-key-value {
              margin: 0 0 20px 0;
              padding: 0;

              .value {
                font-weight: 400;
              }
            }
          }

          @media (max-width: 1400px) {
            flex-direction: column;
            .request-data {
              width: 100%;
              order: 2;
            }
            .response-info {
              order: 1;
              width: 100%;
            }
          }
        }
      }
    }
  }
}